version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    groups:
      dev:
        dependency-type: development
      frontend:
        dependency-type: production
